
* {
	margin : 0;
	padding: 0;
}

body {
	background: #bbb; /* Off-white isn't so intense on the eyes for long periods of time. */
	font: 17px Helvetica, Arial, sans-serif;
}

#maincontainer {
	margin: 0 auto;
	padding: 40px 40px;
	
	background: #eee;
	color: #000;
	width: 1200px;
}

h1 {
   font-family: Josefin Sans;
   font-weight : 700;
   font-size: 72px;	
}
/*
h2 {
   font-family: Josefin Sans;
   font-weight : 400;
   font-size: 36px;	
}*/

a {
	/*color: #373777;*/
	color: #3d93f6;
	text-decoration: none;
	/*font-weight: bolder;*/
}
a:hover {
	/*color: #373777;*/
	text-decoration: underline;
	/*font-weight: bolder;*/
}

input {
	margin: 2px 0;
	font-size: 25px;
}


#two_column_opening {
	width: 90%;
	margin: 0 auto;
}

.user_bar_div {
	position: fixed;
	right: 0;
	bottom: 0;
	background-color:#555;
	color:#CCCCCC;
	padding: 5px 5px;
	font-size:smaller;
}

.user_bar_div a {
	color: #fff;
}

.user_nav_div {
   position: fixed;
   right: 0;
   bottom: 0;
	background-color:#555;
	color:#CCCCCC;
	font-size:smaller;
   width:50%;
   height:25px;
}

.user_nav_div ul {
   margin:  0;
   padding: 0;
   list-style-type: none;
   height:inherit;
}

.user_nav_div ul li {
   padding-left:  50px;
   padding-right: 50px;
   display:       inline;
   position:      relative;
   vertical-align:middle;
}

.user_nav_div ul li ul {
   bottom: 100%;
   position: absolute;
   left: 0px;
   width:100%;
   display: none;
}

.user_nav_div ul li:hover ul {
   display: block;
}

.user_nav_div ul li ul li {
   padding:0;
   margin:0;
}

.user_nav_div ul li ul li a {
   display: block;
   text-decoration: none;
   padding: 5px;
   border: 1px solid #555;
   border-bottom: 0;
   text-align: center;

	background-color:#777;
	color:#CCCCFF;
}

.help_frame_invisible {
   display: none;
}

.help_frame_visible, #help_frame_inner {
   display: block;
   position: fixed;
   top: 10%;
   bottom: 10%;
   left: 10%;
   right: 10%;
   min-width:80%;
   min-height:80%;
}


#help_frame_inner {
   display: inherit;
}

#help_frame_exit_button {
   float: right;
   top: -1em;
   display:inherit;
   position:relative;
	background-color:#555;
	color:#CCCCCC;
	font-size:smaller;
   height:1em;
}

.unselectable::selection {
   background-color: transparent;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select:    none;
    -webkit-user-select:   none;
    -o-user-select:        none;
    user-select:           none;
}

.obj {
   z-index: inherit;
}

.hiddenQuestRep{
   display:none;
}

.toolbarIcon{
   width: 48px;
   height: 48px;
   padding: 10px;
}

.sectionBody {
   position: relative;
   left    : 3em;
}

.hbutton {
   margin-left:   0.5em;
   float: right;
}

.hquesttitle {
   margin: 0.1em;
   margin-bottom: 0;
   border: 1px solid black;
   padding: 0.1em;
   padding-bottom: 0;
   float: left;
}

.menuCreate {
   margin-left: 0.2em;
   margin-right: 0.2em;
}

/*
.infohandle {
border: 1px solid #000;
}
*/

/*
.content {
border: 1px solid #000;
}
*/

/*
.resize {
border: 1px solid #000;
}
*/


/* This imageless css button was generated by CSSButtonGenerator.com */
.legend_cell {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	/*display:inline-block;*/
	color:#777777;
	/*font-family:arial;*/
	/*font-size:15px;
	font-weight:bold; */
	padding:6px 24px;
	/*text-decoration:none;*/
	/*text-shadow:1px 1px 0px #ffffff;*/
}

.legend_cell:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
/*
.legend_cell:active {
	position:relative;
	top:1px;
}
*/

/*
 * CSS Button Styles
 * Imageless css buttons generated by CSSButtonGenerator.com
 */

input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
	-moz-box-shadow:inset 0px 1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 1px 0px #ffffff;
	box-shadow:inset 0px 1px 1px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #cdcdcd) );
	background:-moz-linear-gradient( center top, #ededed 5%, #cdcdcd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#cdcdcd');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #9e9e9e;
	display:inline-block;
	color:#696969;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cdcdcd), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #cdcdcd 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#ededed');
	border-color: #777777;
	background-color:#cdcdcd;
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
button:active,
.button:active {
	-moz-box-shadow:inset 0px 1px 2px 0px #cdcdcd;
	-webkit-box-shadow:inset 0px 1px 2px 0px #cdcdcd;
	box-shadow:inset 0px 1px 2px 0px #cdcdcd;
}
input[type=submit].disabled, input[type=submit][disabled],
input[type=reset].disabled,  input[type=reset][disabled],
input[type=button].disabled, input[type=button][disabled],
button.disabled, button[disabled],
.button.disabled, .button[disabled] {
	border-color: #cdcdcd;
	color: #aaaaaa;
	background: #dedede;
}


.button-blue {
	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
	box-shadow:inset 1px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.button-blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	border-color: #2a68bf;
	background-color:#1e62d0;
}.button-blue:active {
	-moz-box-shadow:inset 1px 2px 0px 0px #1e61b3;
	-webkit-box-shadow:inset 1px 2px 0px 0px #1e61b3;
	box-shadow:inset 1px 2px 0px 0px #1e61b3;
}


.button-green {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #779a35;
}.button-green:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	border-color: #1d6610;
	background-color:#5cb811;
}.button-green:active {
	-moz-box-shadow:inset 0px 1px 2px 0px #6d805c;
	-webkit-box-shadow:inset 0px 1px 2px 0px #6d805c;
	box-shadow:inset 0px 1px 2px 0px #6d805c;
}

/*
 * CSS Input Styles
 */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  /*margin-bottom: 10px;*/
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select[multiple],
select[size] {
  height: auto;
}

input.hidden, input[hidden] {
   display: none;
}


