
.page_bar {
   position:relative;
	width: 100%;
	/*background-color: #FFFFCC;
	color:#000000;
	margin: 5px 5px;*/
	padding: 5px;
	/*display: block;
	display: table;
   box-sizing         : border-box;
   -moz-box-sizing    : border-box;
   -webkit-box-sizing : border-box;*/
}

.page_bar_item {
	padding: 0px 10px;
	width: 200px;
	display: table-cell;
	vertical-align: middle;
}

.page_bar_item input,
.page_bar_item select {
	width : 100%;
}

.page_bar_content {
	width:100%;
   margin-top : 10px;
   /*box-sizing         : border-box;
   -moz-box-sizing    : border-box;
   -webkit-box-sizing : border-box;*/
   
}

.content {
	width: 100%;
	display: table;
}

button {
   padding : 5px;
}

.drag-handle {
	background-color:#003366;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	display: table-cell;
	/*vertical-align: middle;*/
}

.delete-icon {
	/*height: 100%;*/
	padding-top: 5px;
	margin-right: 10px;
	display: table-cell;
	vertical-align: middle;
   /*float : right;*/
   
	position: absolute;
   top : 0px;
   right: 0px;
	/*top: 50%;
	margin-top: -12.5px;*/
}

/* Tab Styles */
ul.tabs {
    margin: 0;
    padding: 0 0 2px 0;
}

li.tab {
    display: inline;
    padding: 4px .4em 2px .4em;
    list-style: none;
    background-color: #ccc;
    border: 1px #777 solid;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

li.tab.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

li.tab .remove {
    color: #900;
}

.tab-content {
    /*margin: 0 0 1em 0;*/
    padding: 5px;
    border: 1px #777 solid;
}
