table {
   display : inline-block;
   vertical-align : top;
   margin : 10px;
   border-collapse : collapse;
}

table, th, td {
   border : 1px solid black;
}

td, th {
   padding : 4px 10px;
}

tr:nth-child(odd) {
   background-color : none;
}

tr:nth-child(even) {
   background-color:#cdcdcd;
}
