/*table {
   display : inline-block;
   vertical-align : top;
   margin : 10px;
   border-collapse : collapse;
}*/

table, th, td {
   /*border : 1px solid black;*/
}

td, th {
   padding : 10px 5px;
}

/*tr:nth-child(odd) {
   background-color : none;
}

tr:nth-child(even) {
   background-color:#cdcdcd;
}*/

.quest-section {
   margin-left : 25px;
}

.quest-section span {
   margin-left : -25px;
   font-size   : 20px;
  /* font-weight : bold;*/
}

.rounded-box {
   padding : 10px;
}

table.results {
   /*border-left : 1px solid #ddd;*/
   width : 100%;
   border-collapse : collapse;
}

table.results th,
table.results td {
   border-left : 1px solid #ccc;
}

table.results tr:nth-child(odd) {
   background-color : none;
}

table.results tr:nth-child(even) {
   background-color:#ddd;
}

/* Accordion */
/*
#quest-accordion {
   margin : 20px 0px 0px;
}

#quest-accordion .toggle {
   background: #555;
   color: white;
   cursor: pointer;
   font: 24px Raleway, Arial, sans-serif;
   line-height: 32px;
   margin: 0 0 4px 0;
   padding: 3px 5px 1px;
}

#quest-accordion .content {

}*/
